<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="pop-songs-analytics.ZPM">
    <Module>
      <Name>pop-songs-analytics</Name>
      <Version>1.0.2</Version>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.PKG"/>
      <Resource Name="dc.bi.pop-songs-globals.GBL" />
      <Parameter Name="folder" Value="irisapp" />
    </Module>
  </Document>
</Export>
